<!Doctype HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>


<body>

<nav>
    <ul class="topnav">
        <li><a href="index.html">About</a></li>
        <li><a href="resume.pdf">Resume</a></li>
        <li class="dropdown">
            <a href="projects.html">Projects</a>
            <div class="projectDropdownContent">
                <a href="https://dcalabrese22.github.io/Baking-Recipes/">Chatter</a>
                <a href="https://dcalabrese22.github.io/Discover-Movies/">Discover Movies</a>
                <a href="https://dcalabrese22.github.io/Baking-Recipes/">Baking Recipes</a>
            </div>
        </li>
    </ul>
</nav>

{{ content }}

<footer>
    <div class="personalInfo" style="clear: left;">
        <a href="mailto:dcalabrese22@gmail.com">
            <img src="images/ic_mail_outline_black_48dp.png" alt="email">
        </a>

        <a href="https://github.com/dcalabrese22">
            <img src="images/GitHub-Mark-64px.png" alt="Github">
        </a>

        <a href="https://www.linkedin.com/in/dcalabrese22/">
            <img src="images/In-2C-66px-R.png" alt="LinkedIn">
        </a>
    </div>
</footer>
</html>
